
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold/opensans-bold-.eot');
  src: url('../fonts/opensans-bold/opensans-bold-.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-bold/opensans-bold-.woff2') format('woff2'),
  url('../fonts/opensans-bold/opensans-bold-.woff') format('woff'),
  url('../fonts/opensans-bold/opensans-bold-.ttf') format('truetype');  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/flaticon/Flaticon.woff") format("woff"),
  url("../fonts/flaticon/Flaticon.ttf") format("truetype");  
  font-weight: normal;
  font-style: normal;
}