$default-font: open_sansregular;
$default-font-size: 16px;
$default-font-color: #5c5c5c;
$default-disabled-font-color: #c7c7c7;
$bold-font: open_sanssemibold;
$extra-bold-font: open_sansbold;
//$primary-color: #5a7da2;
$primary-color: #407de1;
$primary-bg-color: #f2f2f2;
$secondary-color: #787878;
$secondary-accent-color: #3e3e3e;
$secondary-accent-txt: #fff;
$highlight-color:#ff4081;
$warning-color: #ea5555;
$success-color: #81d44a;
$pending-color: #ffa200;
$offline-color: #d0d0d0;
$panel-background-color: #fff;
$panel-shadow-color: #a9a9a9;
$query-color-one:#60d233;
$query-color-two:#b05d0c;
$query-color-three:#e756ca;
